
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
        text-align: left;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 477px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .pictures{
        margin-left: 96px
    }
}